@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Light.eot');
    src: local('Fira Sans Light'),
         url('../fonts/FiraSans-Light.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-Light.woff') format('woff'),
         url('../fonts/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-LightItalic.eot');
    src: local('Fira Sans Light Italic'),
         url('../fonts/FiraSans-LightItalic.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-LightItalic.woff') format('woff'),
         url('../fonts/FiraSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

html,body {
	background-color: #1d1e1a;
	color: #eee;
	text-align: center;
	font-family: "Fira Sans";
	margin-top: 2rem;
}

a{
	color: #aaa;
}

.indexpage .title {
	font-weight: normal;
	font-size: 3rem;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	margin-left: 10%;
	margin-right: 10%;
	border-bottom: 1px solid #eee;
}

.indexpage .subtitle {
	font-weight: normal;
	font-size: 1.5rem;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.indextable {
	max-width: 1024px;
	margin: auto;
}

.index {
	max-width: 250px;
	text-align: center;
}

.index a {
	border: 1px solid transparent;
	display: block;
	padding: 5px;
	margin: 5px;
	color: #eee;
	text-decoration: none;
}

.index a:hover {
	border: 1px solid white;
	background-color: #333;
}

.index img {
	border: 8px solid white;
	margin: auto;
}

.index .caption {
	font-size: 0.8rem;
	color: #888;
	margin-top: 0.3rem;
}

.indexpage .nav {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: 0.2rem;
	margin-top: 3rem;
	font-size: 1rem;
	border-bottom: 1pt solid #888;
}
.indexpage .nav .paginator {
	text-align: left;
}

.indexpage .nav a {
	color: #2d8125;
	font-size: 1.5rem;
}
.indexpage .nav a:hover {
	color: #41bc35;
}

.indexpage .nav .imageinfo {
	text-align: right;
}

.detailpage .container {
	max-width: 1024px;
	margin: auto;
}

.detailpage .nav {
	text-align: left;
}

.detailpage .nav .album-title a {
	font-weight: bold;
	color: #888;
	text-decoration: none;
	font-size: 1rem;
}

.detailpage .nav .paginator a {
	color: #2d8125;
	font-size: 1.5rem;
}
.detailpage .nav .paginator a:hover {
	color: #41bc35;
}

.detailpage .title {
	font-weight: normal;
	font-size: 3rem;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	margin-left: 10%;
	margin-right: 10%;
}

.detailpage .subtitle {
	font-weight: normal;
	font-size: 1rem;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.detailpage .image img {
	border: 10px solid white;
}

footer {
	margin-top: 2rem;
	color: #555;
	border-top: 1px solid #555;
	font-size: 0.8rem;
}

footer a {
	color: #aaa;
}